{% extends 'base.html.twig' %}

{% block body %}
    <h1>Review list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Publication Date</th>
            <th>Note</th>
        </tr>
        </thead>
    </table>
    <ul>
        <li>
            <a href="{{ path('review_new') }}">Create a new review</a>
        </li>
    </ul>
{% endblock %}
